/* Section developers */
.section-developers {
  background-color: antiquewhite  ;
}

.developers-list {
  text-align: center;
  margin-bottom: 20px;
}

.developers-profile {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten a una nueva línea */
  justify-content: center; /* Centra las cajas horizontalmente */
  gap: 20px; /* Espaciado uniforme entre las cajas */
  margin-top: 20px;
}

.developer-box, .developer-box2 {
  flex: 1 1 calc(33.333% - 40px); /* Ocupa un tercio del ancho del contenedor con márgenes */
  max-width: calc(33.333% - 40px); /* Limita el tamaño máximo al mismo tercio */
  background: rgb(240, 189, 121);
  color: black;
  border-radius: 10px;
  padding: 15px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; /* Incluye paddings y bordes en el tamaño */
}

.developer-box2:nth-of-type(3) {
  background: #f29545;
}

.developer-box .developer-image, .developer-box2 .developer-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

/* Nueva fila con una caja centrada */
.developer-single-box {
  display: flex;
  justify-content: center; /* Centra la única caja horizontalmente */
  margin-top: 40px; /* Añade un espacio superior para separación */
}

.developer-single-box .developer-box {
  flex: 0 1 300px; /* Limita la caja a un tamaño fijo */
  max-width: 300px;
}

.btn-developer {
  padding: 10px 10px;
  margin: 10px 10px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  background-color: #f3ca99;
  border: 2px solid #f29545;
}

.btn-developer:hover {
  color: #fff;
  background-color: #f29545;
  border: 2px solid #f29545;
  text-decoration: none;
}

/* Responsividad */
@media (max-width: 768px) {
  .developers-profile {
    flex-direction: column; /* Apila las cajas en una sola columna */
  }

  .developer-single-box {
    flex-direction: column; /* Asegura que se centre bien en pantallas pequeñas */
  }

  .developer-box, .developer-box2 {
    flex: 1 1 100%; /* Ocupa toda la fila en pantallas pequeñas */
    max-width: 100%;
  }
}
